.pageContainer {
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f9;
  padding: 20px;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  
}
